*data.csv filter=lfs diff=lfs merge=lfs -text
/Metacommunity_model/Simulations/out/simulations/full_data.csv filter=lfs diff=lfs merge=lfs -text
/Metacommunity_model/Simulations_low_error_tolerance/out/simulations/full_data.csv filter=lfs diff=lfs merge=lfs -text
